Django==2.2.28
WebOb==1.4.1
argparse==1.2.1
beautifulsoup4==4.3.2
boto==2.35.1
dj-database-url==0.3.0
dj-static==0.0.6
django-bootstrap3==5.4.0
django-model-utils==2.2
django-mptt==0.7.3
django-storages==1.1.8
-e git+https://github.com/django-tastypie/django-tastypie@256ebe1de9a78dfb5d4d6e938b813cf4c5c4ac1b#egg=django_tastypie-master
gunicorn==19.3.0
newrelic==2.50.0.39
psycopg2==2.6
pystache==0.5.4
python-dateutil==2.4.2
python-mimeparse==0.1.4
pytz==2014.10
six==1.9.0
static==1.1.1
static3==0.5.1
waitress==0.8.9
wsgiref==0.1.2
