{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts  #}
{% bootstrap_messages %}

{% load staticfiles %}
{% load i18n %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'website/icon.png' %}">

    <title>{% block title %}Linbees{% endblock %}</title>
    {% block head %}
    {% endblock %}

      <!-- Custom styles for this template -->
      <link href="{% static 'clientapp/signin.css' %}" rel="stylesheet">
      <link href="{% static 'clientapp/sticky-footer-navbar.css' %}" rel="stylesheet">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>

  <body>
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>

    <!-- FOOTER -->
    <div id="footer">
      <div class="container">
	<p>{% include "website/lang_snippet.html" %}</p>
      </div><!-- /.container -->
    </div><!-- /.footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'website/jquery-1.js' %}" ></script>
    <script src="{% static 'website/bootstrap.js' %}" ></script>
    <script src="{% static 'website/docs.js' %}" ></script>

</body></html>