{% extends "clientapp/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>{% trans "Select your current activity" %}</h2>
        <a href="/clientapp/" class="pull-right">
            {% bootstrap_icon "refresh" %}
        </a>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="single_tree_div"></div>
            </div>
        </div>
        {% buttons %}
        <button class="btn btn-primary btn-lg btn-block" id="clockout" type="submit" name="clock_out" value="Off">
            {% trans "Stop" %}
        </button>
        {% endbuttons %}
    </div>
</div>
<div class="row">
    <div id="report" class="col-md-12" />
</div>

<!-- Linbees js stuff -->
{% include "clientapp/js_code.html" %}

{% endblock content %}
