{% extends "clientapp/base.html" %}
{% load i18n %}

{% load bootstrap3 %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h3>{% trans "Select your activity" %}</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <a href="/clientapp/" class="pull-right">
	    {% bootstrap_icon "refresh" %}
	  </a>
	  {% if form.activities|length_is:"0" %}
	    <p>{% trans "There is no activity defined yet." %}</p>
	  {% else %}
	    <form action={{ form_action }} method="post" class="form-signin" role="form"> {% csrf_token %}
	      {% bootstrap_form form %}
	      {% if last_activity %}
		{% buttons %}
		  <button class="btn btn-primary" id=clockout type="submit" name="clock_out" value="Off">
		    {% bootstrap_icon "off" %}
		  </button>
		{% endbuttons %}	
	      {% endif %}
	    </form>
	  {% endif %}
  </div></div></div></div>
  <div class="row">
    <div class="col-md-12">
    <h4>{% trans "Your last 5 activities" %}</h2>
    <table class="table table-striped table-condensed">
    {% for r in records %}
    <tr>
      <td>{{r.activity}}</td>
      <td>{{r.start.date}}</td>
      <td>{{r.start.time}}</td>
      {% if r.start.date = r.end.date %}
	<td>{{r.end.time}}</td>
      {% elif r.end = None %}
      {% else %}
	<td>{{r.end}}</td>
      {% endif %}
    </tr>
    {% endfor %}
    </table>
  </div></div>
{% endblock content %}
