{% extends "clientapp/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>{% trans "Select your current activity" %}</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/clientapp/" class="pull-right">
                    {% bootstrap_icon "refresh" %}
                </a>
                <div id="single_tree_div"></div>
                {% buttons %}
                <button class="btn btn-primary" id=clockout type="submit" name="clock_out" value="Off">
                    {% bootstrap_icon "off" %}
                </button>
                {% endbuttons %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>{% trans "Your last 5 activities" %}</h2>
        <table class="table table-striped table-condensed">
        {% for r in records %}
        <tr>
        <td>{{r.task}}</td>
        <td>{{r.start.date}}</td>
        <td>{{r.start.time}}</td>
        {% if r.start.date = r.end.date %}
            <td>{{r.end.time}}</td>
        {% elif r.end = None %}
        {% else %}
            <td>{{r.end}}</td>
        {% endif %}
        </tr>
        {% endfor %}
        </table>
    </div>
</div>

<!-- Linbees js stuff -->
{% include "clientapp/js_code.html" %}

{% endblock content %}
