{% extends "website/basewithnav.html" %}
{% load i18n %}
{% load staticfiles %}

{% block home %}
  <div class="container">
    <h1>{% trans "What is Linbees?" %}</h1>
    <p>{% trans "Linbees is a cloud application platform – a new way of monitoring and managing internal activities." %}</p>
    <p>{% trans "With the minimum effort and constraint for the users, Linbees brings the most powerful insight about internal activity to the management." %}</p>
    <p>{% trans "Linbees is a start-up company based in Paris, founded by seasoned engineers, experts in project and process management." %}</p>
    <h1>{% trans "Our philosophy" %}</h1>
    <p>{% trans "Constraint-less and simple!" %}</p>
  </div><!-- /.container -->
{% endblock %}
