{% extends "website/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
  <link href="{% static 'website/carousel.css' %}" rel="stylesheet">
  <link href="{% static 'website/justified-nav.css' %}" rel="stylesheet">
{% endblock head %}

{% block home %}
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
	<a href="{% static 'website/linbees-1.2-win32.msi' %}">
	  <img onmouseout="this.src='{% static 'website/windows-logo.png' %}'" onmouseover="this.src='{% static 'website/windows-logo-highlight.png' %}'" src="{% static 'website/windows-logo.png' %}" /></a>
	<h2>Linbees {% trans "for" %} Windows</h2>
	<p>{% trans "Download Linbees app for Windows, compatible with Windows XP and later (32/64 bit)" %}</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
	<a href="{% static 'website/linbees-1.2.linux-x86_64.tar.gz' %}">
	  <img onmouseout="this.src='{% static 'website/linux-logo.png' %}'" onmouseover="this.src='{% static 'website/linux-logo-highlight.png' %}'" src="{% static 'website/linux-logo.png' %}" /></a>
	<h2>Linbees {% trans "for" %} Linux</h2>
	<p>{% trans "Download Linbees app for Linux, compatible with any 64 bit distro" %}</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
	<a href="{% static 'website/linbees-1.2.dmg' %}">
	  <img onmouseout="this.src='{% static 'website/mac-logo.png' %}'" onmouseover="this.src='{% static 'website/mac-logo-highlight.png' %}'" src="{% static 'website/mac-logo.png' %}" /></a>
	<h2>Linbees {% trans "for" %} Mac</h2>
	<p>{% trans "Download Linbees app for Mac, compatible with Mac OS X 10.6 and later (64 bit)" %}</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <hr class="featurette-divider">
{% endblock home %}
