{% extends "website/basewithnav.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
  <link href="{% static 'website/carousel.css' %}" rel="stylesheet">
<!--   <link href="{% static 'website/justified-nav.css' %}" rel="stylesheet"> -->
{% endblock head %}

{% block home %}
  <div class="container">
    <div class="row">
      <h1 class="text-primary text-center">{% trans "Download the Linbees app" %}</h1>
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
	<img src="{% static 'website/windows.png' %}" />
	<h2>{% trans "for" %} Windows</h2>
	<a href="{% static 'website/linbees-1.2-win32.msi' %}">
	  {% trans "linbees-1.2-win32.msi" %}
	</a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
	<img src="{% static 'website/mac.png' %}" />
	<h2>{% trans "for" %} Mac</h2>
	<a href="{% static 'website/linbees-1.2.dmg' %}">
	  {% trans "linbees-1.2.dmg" %}
	</a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
	<img src="{% static 'website/linux.png' %}" />
	<h2>{% trans "for" %} Linux</h2>
	<a href="{% static 'website/linbees-1.2.linux-x86_64.tar.gz' %}">
	  {% trans "linbees-1.2.linux-x86_64.tar.gz" %}
	</a>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <hr class="featurette-divider">
{% endblock home %}
