{% extends "website/basewithnav.html" %}
{% load i18n %}
{% load staticfiles %}

{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block home %}
  <div class="container">
    <div class="row">
      <h1 class="text-primary">{% trans "Any question?" %}</h1>
      <form action="" method="post" role="form">{% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
	<button type="submit" class="btn btn-primary">
	  {% trans "Send" %} {% bootstrap_icon "envelope" %}
	</button>
      {% endbuttons %}
      </form>
    </div>
  </div><!-- /.container -->
{% endblock %}
