{% extends "website/base.html" %}
{% load i18n %} 
{% load staticfiles %}

{% block head %}
  <link href="{% static 'website/carousel.css' %}" rel="stylesheet">
  <link href="{% static 'website/justified-nav.css' %}" rel="stylesheet">
  <script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	var target = $(this.hash);
	target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	if (target.length) {
	  $('html,body').animate({
	    scrollTop: target.offset().top
	  }, 1000);
	  return false;
	}
      }
    });
  });
  </script>
{% endblock head %}

{% block home %}
  <div class="container-fluid frontbanner">
    <div class="jumbotron">
      <h2>{% trans "We help you collect genuine data" %}</h2>
      <p class="lead">{% trans "A real-time-tracking solution for the industry" %}</p>
      <p><a id="link2video" class="btn btn-lg btn-success" href="#videoanchor" role="button">{% trans "See how it works" %}</a></p>
    </div>
  </div>
  
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4 col-sm-4">
	<img src="{% static 'website/cloud-usb.jpg' %}" style="width: 140px; height: 140px;" class="img-circle" alt="Sensor App">
	<h3>Create your dashbord</h2>
	<p>{% trans "Click on sign up to create an account for your company. It's instant, it's free, no credit card is required." %}</p>
	<p><a class="btn btn-default" href="{% url 'signup:signup' %}" role="button">{% trans "Sign up" %}</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-sm-4">
	<img src="{% static 'website/distribute.jpg' %}" style="width: 140px; height: 140px;" class="img-circle" alt="Cloud service">
	<h3>Distribute the app</h2>
	<p>{% trans "Download the app and give them to your users. Or ask them to download and install themselves. We have apps for most operating systems." %}</p>
	<p><a class="btn btn-default" href="{% url 'website:apps' %}" role="button">{% trans "Download" %}</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-sm-4">
	<img src="{% static 'website/chart.jpg' %}" style="width: 140px; height: 140px;" class="img-circle" alt="Dashboard">
	<h3>Start monitoring the activity</h2>
	<p>{% trans "Go to your dashboard and start seeing the activity of your teams, projects, the related costs... and much more!" %}</p>
	<p><a class="btn btn-default" href="{% url 'dashboard:overview' %}" role="button">{% trans "Go to your dashboard" %}</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>

  <div class="container-fluid signupbanner">
    <div class="jumbotron">
	  <a class="btn btn-lg btn-primary" href="{% url 'signup:signup' %}" role="button">{% trans "Sign up now" %}</a>
    </div>
  </div>

  <div class="container-fluid bannercolor">
    <a  name="videoanchor" />
    <div class="jumbotron">
      <iframe width="672" height="378" src="//www.youtube.com/embed/WkBcaoYBYIE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
{% endblock home %}
