{% extends "administration/admin.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
  {% if no_activity %}
    <div class="alert alert-info">
      {% trans "You have not created any activity yet." %}<br>
      {% trans "Please define below the activities you would like to monitor." %}<br>
      {% trans "For each activity, give its name, its owner (probably you) and validate." %}
    </div>
  {% else %}
    <div class="col-md-3">
      <div class="list-group">
	<a href="{% url 'administration:activityNew' %}" class="list-group-item active">
	  {% trans "Create a new activity" %}
	</a>
	{% for c in choices %}
	  <a href="{% url 'administration:activityEdit' c.id %}" class="list-group-item">{{ c.name }}</a>
	{% endfor %}
      </div>
    </div>
  {% endif %}
      <div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <form action="" method="post" role="form">{% csrf_token %}
	      {% bootstrap_form editform %}
	      {% buttons %}
		<button type="submit" class="btn btn-sm btn-primary" id="creation">
		  {% trans "Apply" %}
		</button>
	      {% endbuttons %}
	    </form>
	  </div>
	</div>
      </div>
{% endblock content %}
