{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block home %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="{% url 'administration:taskNew' %}">{% trans "Projects" %}</a></li>
            <li><a href="{% url 'administration:workspaceAdmin' %}">{% trans 'Company info' %}</a></li>
            <li><a href="{% url 'administration:accountAdmin' %}">{% trans 'Change my password' %}</a></li>
        </ul>
    </div>
    <div class="col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-2">
    {% block col1 %}
    {% endblock col1 %}
    </div>
    <div class="col-sm-6 col-md-8">
    {% block col2 %}
    {% endblock col2 %}
    </div>
</div>
{% endblock home %}
