{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block home %}
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
	<li><a href="{% url 'administration:accountAdmin' %}">{% trans 'Change my password' %}</a></li>
	<li><a href="{% url 'administration:workspaceAdmin' %}">{% trans 'Company info' %}</a></li>
      </ul>
    </div>
    <div class="col-sm-5 col-sm-offset-3 col-md-4 col-md-offset-2 main">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
{% endblock home %}
