{% extends "administration/admin.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block col1 %}
    <ul class="nav nav-sidebar">
        {% for c in choices %}
            <li>
                <a href="{% url 'administration:salaryEdit' c.user.id %}">{{ c.user.get_full_name }} ({{ c.user.email }}) </a>
            <li>
        {% endfor %}
    </ul>
{% endblock col1 %}
{% block col2 %}
    <form action="" method="post" role="form">{% csrf_token %}
        {% bootstrap_formset formset %}
        {% buttons %}
        <button type="submit" class="btn btn-sm btn-primary" id="creation">
            {% trans "Apply" %}
        </button>
        {% endbuttons %}
    </form>
{% endblock col2 %}
