{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block home %}
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-sidebar">
	<li><a href="{% url 'dashboard:activityNew' %}" class="list-group-item active">
	  {% trans "Create a new activity" %}
	</a><li>
	{% for c in choices %}
	  <li><a href="{% url 'dashboard:activityEdit' c.id %}"">{{ c.name }}</a><li>
	{% endfor %}
      </ul>
    </div>
    <div class="col-md-4 col-md-offset-2 main">
	  <form action="" method="post" role="form">{% csrf_token %}
	    {% bootstrap_form editform %}
	    {% buttons %}
	      <button type="submit" class="btn btn-sm btn-primary" id="creation">
		{% trans "Apply" %}
	      </button>
	    {% endbuttons %}
	  </form>
    </div>
  </div>
{% endblock home %}
