{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script src="http://static.jstree.com/3.0.8/assets/jquery.address-1.6.js"></script>
<script src="http://static.jstree.com/3.0.8/assets/vakata.js"></script>
<script src="http://static.jstree.com/3.0.8/assets/dist/jstree.min.js"></script>
<link href="http://static.jstree.com/3.0.8/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
<link href="http://static.jstree.com/3.0.8/assets/dist/themes/default/style.min.css" rel="stylesheet"></link>
{% endblock head %}

{% block home %}
<div class="row">
    {% if tasks_number == 0 %}
    <div class="col-md-4 col-md-offset-2">
        {% include 'dashboard/no_task_message.html' %}
    </div>
    {% elif nodata == True %}
    <div class="col-md-4 col-md-offset-2">
        {% include 'dashboard/no_data_message.html' %}
    </div>
    {% else %}
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                {% buttons %}
                    <button type="submit" class="btn btn-sm btn-primary">
                    {% trans "Update" %}
                    </button>
                {% endbuttons %}
                <p>{% trans 'Start date' %}<input type="text" id="startdate" value="{{ startdate }}"></p>
                <p>{% trans 'End date' %}<input type="text" id="enddate" value="{{ enddate }}"></p>
                <div id="tree_div"></div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="text-primary">{% trans 'Cost per project<br><small> </small>' %}</h3>
                {% include "chart/chart.html" with divname='chart1div' %}
        </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="text-primary">{% trans 'Cumulated cost per project<br><small> </small>' %}</h3>
                {% include "chart/chart.html" with divname='chart2div' %}
        </div>
        </div>
    </div>
    {% endif %}
</div><!-- /.row -->
{% endblock home %}
