{% load i18n %}

<div class="alert alert-info">
  <p>{% trans 'This is probably the first time you come to your dashboard, as we do not detect any activity yet.' %}</p>
  <p>{% trans 'The first thing you need to do is to define the tasks and projects (we call them activities) that you would like to monitor.' %}</p>
  <p>{% trans 'These activities will automatically appear in the linbees application, to your teams.' %}</p>
  <p>{% trans 'To create activities, go to the ' %}
  <a href="{% url 'dashboard:activityNew' %}">{% trans 'activity adminstration section' %}</a>
  {% trans ' and create some activities.' %}</p>
</div>
