{% load i18n %}
{% load bootstrap3 %}

<div class="alert alert-info">
  <p><strong>{% trans 'We do not detect any data.</strong><br>Make sure you have done the following actions:' %}</p>
  <h3 class="text-success">{% bootstrap_icon "ok" %} {% trans 'Sign up' %}</h3>
  <h3 class="text-success">{% bootstrap_icon "ok" %} {% trans 'Create activities' %}</a></h3>
  <h2>{% bootstrap_icon "circle-arrow-right" %} {% trans 'Distribute the app' %} <a href="{% url 'website:apps' %}"><small>{% trans '(click here to go to the download section)' %}</small></a></h2>
  <h3 class="text-danger">{% bootstrap_icon "remove" %} {% trans 'Collect data' %}</h3>
</div>
