{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block home %}
<div class="row">
    <div class="col-md-2 sidebar">
        <h1>{{ workspace.company_name }}</h2>
        <p class="text-muted">{{ user.first_name }} {{ user.last_name }}</p>
        <h3><a href="{% url 'dashboard:user_info' %}">{{ users_number }} {% trans "users" %}</h3>
        <h3><a href="{% url 'dashboard:task_info' %}">{{ tasks_number }} {% trans "projects" %}</h3>
    </div>
    <div class="col-md-4 col-md-offset-2 main">
        {% bootstrap_messages %}
        {% if tasks_number == 0 %}
            {% include 'dashboard/no_task_message.html' %}
        {% elif nodata == True %}
            {% include 'dashboard/no_data_message.html' %}
        {% else %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="text-primary">{% trans 'Most time consuming projects' %}</h3>
                    <ul>
                    {% for i in time_consumption %}
                        <li class="text-success"><p>{{ i.task__name }} ({{ i.duration__sum }} {% trans 'hours)' %}</p></li>
                    {% endfor %}
                    </ul>
                    <h3 class="text-primary">{% trans 'Projects involving the highest number of resources' %}</h3></li>
                    <ul>
                    {% for i,j in resources_involved %}
                        <li class="text-success"><p>{{ i.name }} ({{ j }} {% trans 'persons)' %}</p>
                    {% endfor %}
                    </ul>
                    <h3 class="text-info">{{ active_users }} {% trans 'active users' %}</h3>
                </div>
            </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-primary">{% trans 'Time repartition per project' %}<br></h3>
                <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                {% include "chart/piechart.html" with chart_data=chart1_data chart_options=chart1_options divname='chart1div' %}
            </div>
        </div>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-9 col-md-offset-2">
        <p class="text-muted">{% trans '(*) over the last' %} {{ period }} {% trans 'days' %}</p>
        {% endif %}
    </div>
</div><!-- /.row -->
{% endblock home %}
