{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block home %}
<div class="row">
    <div class="col-md-2 sidebar">
        <h3><a href="{% url 'user_info' %}">{{ users_number }} {% trans "users" %}</a></h3>
        <h3><a href="{% url 'task_info' %}">{{ tasks_number }} {% trans "projects (and sub-projects)" %}</a></h3>
        <div id="tree_div"></div>
    </div>
    <div>{% bootstrap_messages %}</div>
    {% if tasks_number == 0 %}
        <div class="col-md-5 col-md-offset-2">
            {% include 'dashboard/no_task_message.html' %}
        </div>
    {% elif nodata == True %}
        <div class="col-md-5 col-md-offset-2">
            {% include 'dashboard/no_data_message.html' %}
        </div>
    {% else %}
        <div class="col-md-5 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="text-primary">{{ legend1 }}</h3>
                    {% include "dashboard/chart.html" with divname='chart1div' %}
<!--                    <h3 class="text-primary">{% trans 'Most time consuming projects' %}</h3>
                    <ul>
                    {% for i in time_consumption %}
                        <li class="text-success"><p>{{ i.task__name }} ({{ i.duration__sum }} {% trans 'hours)' %}</p></li>
                    {% endfor %}
                    </ul>
                    <h3 class="text-primary">{% trans 'Projects involving the highest number of resources' %}</h3></li>
                    <ul>
                    {% for i,j in resources_involved %}
                        <li class="text-success"><p>{{ i.name }} ({{ j }} {% trans 'persons)' %}</p>
                    {% endfor %}
                    </ul>
                    <h3 class="text-info">{{ active_users }} {% trans 'active users' %}</h3>-->
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="text-primary">{{ legend2 }}</h3>
                    {% include "dashboard/chart.html" with divname='chart2div' %}
                </div>
            </div>
        </div>
    {% endif %}
</div><!-- /.row -->

<!-- Linbees js stuff -->
{% include "dashboard/overview_js_code.html" %}
    
{% endblock home %}
