{% extends "dashboard/task.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block main %}
    <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ form_action }}" method="post" role="form" id="ajaxform">{% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-sm btn-primary" id="creation">
                        {% trans "Create" %}
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
