{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block home %}
    <div class="row">
        <div class="col-sm-2 col-md-1 sidebar no_bkgd">
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'dashboard:task_time' %}">{% trans "Time" %}</a></li>
                <li><a href="{% url 'dashboard:task_cost' %}">{% trans 'Cost' %}</a></li>
                <li><a href="{% url 'dashboard:task_info' %}">{% trans 'Modification' %}</a></li>
                <li><a href="{% url 'dashboard:task_new'  %}">{% trans 'New project' %}</a></li>
            </ul>
        </div>
        {% block main %}
        {% endblock main %}
    </div><!-- /.row -->

    <!-- Linbees js stuff -->
    {% include "dashboard/task_js_code.html" %}

{% endblock home %}
