{% extends "dashboard/task.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block col1 %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% buttons %}
                <button type="submit" class="btn btn-sm btn-primary">
                {% trans "Update" %}
                </button>
            {% endbuttons %}
            <p>{% trans 'Start date' %}<input type="text" id="startdate" value="{{ startdate }}"></p>
            <p>{% trans 'End date' %}<input type="text" id="enddate" value="{{ enddate }}"></p>
            <div id="tree_div"></div>
        </div>
    </div>
{% endblock col1 %}
    
{% block col2 %}
    <div class="col-md-4">
        <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="text-primary">{% trans 'Cost per project<br><small> </small>' %}</h3>
                {% include "chart/chart.html" with divname='chart1div' %}
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="text-primary">{% trans 'Cumulated cost per project<br><small> </small>' %}</h3>
                {% include "chart/chart.html" with divname='chart2div' %}
        </div>
        </div>
    </div>
{% endblock col2 %}
