<script>
$(function() {

    $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });

    $('button')
        .button()
        .click(function(event){
            event.defaultPrevented;
            update_div();
    });

    function update_div() {
        if ( '{{ topic }}' == 'time' ) {
            draw_time_per_project();
            draw_cumulated_time_per_project();
        } else if ( '{{ topic }}' == 'cost' ) {
            draw_cost_per_project();
            draw_cumulated_cost_per_project();
        } else if ( '{{ topic }}' == 'info' ) {
            var select = $('#single_tree_div').jstree(true).get_selected()[0];
            var data_url = "{% url 'dashboard:task_info_edit' 0 %}".replace('/0/', '/'+select.toString()+'/');
            update_form(data_url);
        }
    };
    
    function update_form(data_url) {
        $.get( data_url, function( data ) {
            $( "#form_div" ).html( data );
            $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
        });
    };

    function draw_time_per_project() {
        var data_url = "{% url 'dashboard:time_per_project_query' %}";
        var divname = "chart1div";
        draw_line_chart(data_url, divname);
    };

    function draw_cumulated_time_per_project() {
        var data_url = "{% url 'dashboard:cumulated_time_per_project_query' %}";
        var divname = "chart2div";
        draw_line_chart(data_url, divname);
    };

    function draw_cost_per_project() {
        var data_url = "{% url 'dashboard:cost_per_project_query' %}";
        var divname = "chart1div";
        draw_line_chart(data_url, divname);
    };

    function draw_cumulated_cost_per_project() {
        var data_url = "{% url 'dashboard:cumulated_cost_per_project_query' %}";
        var divname = "chart2div";
        draw_line_chart(data_url, divname);
    };

    function draw_line_chart(data_url, divname) {
        var startdate = $('#id_start_date').val();
        var enddate = $('#id_end_date').val();
        var tasks = $('#tree_div').jstree(true).get_selected();
        console.log(data_url, divname, startdate, enddate, tasks);
        $.ajax({
            url: data_url, 
            data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'startdate':startdate, 'enddate':enddate, 'tasks':JSON.stringify(tasks)},
            success: function( returned_data ) {
                console.log("Ok");
                console.log(document.getElementById(divname));
                try {
                    var data = google.visualization.arrayToDataTable(returned_data['data']);
                    var chart = new google.visualization.LineChart(document.getElementById(divname));
                    chart.draw(data, returned_data['options']);
                } catch(err) {
                    console.log("an error has occured : " + err);
                }
            }
        });
    };

    $(function () {
        $('#tree_div')
        // once ready, select tasks and draw charts
        .on('ready.jstree', function (e) {
            // select root nodes
//             var nodes = $('#tree_div').jstree('get_json');
//             for (n in nodes) {
//                 $('#tree_div').jstree('select_node', nodes[n]);
//             }
            update_div();
        })
        // create the instance
        .jstree({
            'core' : {
                'data' : {
                    'url':"{% url 'dashboard:tasks_query' False %}", 
                    'dataType':'json',
                }
            },
        });
    });
    
    $(function () {
        $('#single_tree_div')
        // once ready, draw chart
        .on('ready.jstree', function (e) {
//             $('#single_tree_div').jstree('open_all');
            // select 1st root nodes
//             var nodes = $('#single_tree_div').jstree('get_json');
//             for (n in nodes) {
//                 $('#single_tree_div').jstree('select_node', nodes[n]);
//                 break;
//             }
//             $('#single_tree_div').jstree('deselect_all');
            update_div();
        })
        // when selection changes
        .on('changed.jstree', function (e, data) {
            update_div();
        })
        // create the instance
        .jstree({
            'core' : {
                'data' : {
                    'url':"{% url 'dashboard:tasks_query' True %}", 
                    'dataType':'json',
                },
                'multiple' : false,
            },
        });
    });
    
});
</script>

<link href="http://static.jstree.com/3.0.8/assets/dist/themes/default/style.min.css" rel="stylesheet"></link>
<script src="http://static.jstree.com/3.0.8/assets/dist/jstree.min.js"></script>
