{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block home %}
    <div class="row">
        {% if tasks_number == 0 %}
            {% include 'dashboard/no_task_message.html' %}
        {% elif nodata == True %}
            {% include 'dashboard/no_data_message.html' %}
        {% else %}
            <div class="col-sm-2 col-md-1 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="{% url 'dashboard:user_time'   %}">{% trans "Time" %}</a></li>
                    <li><a href="{% url 'dashboard:user_salary' %}">{% trans 'Salary' %}</a></li>
                    <li><a href="{% url 'dashboard:user_info'   %}">{% trans 'Information' %}</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-1 sidebar">
                {% block col1 %}
                {% endblock col1 %}
            </div>
            <div class="col-sm-6 col-sm-offset-6 col-md-8 col-md-offset-4">
                {% block col2 %}
                {% endblock col2 %}
            </div>
        {% endif %}
    </div><!-- /.row -->

    <!-- Linbees js stuff -->
    {% include "dashboard/user_js_code.html" %}

{% endblock home %}
