{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block home %}
    <div class="row">
        <div class="col-sm-2 col-md-1 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'dashboard:user_time'   %}">{% trans "Time" %}</a></li>
                <li><a href="{% url 'dashboard:user_salary' %}">{% trans 'Salary' %}</a></li>
                <li><a href="{% url 'dashboard:user_info'   %}">{% trans 'Information' %}</a></li>
            </ul>
        </div>
        {% block main %}
        {% endblock main %}
    </div><!-- /.row -->

    <!-- Linbees js stuff -->
    {% include "dashboard/user_js_code.html" %}

{% endblock home %}
