{% extends "dashboard/user.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block col1 %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-sm btn-primary">
                {% trans "Update" %}
                </button>
            {% endbuttons %}
            <div id="tree_div"></div>
        </div>
    </div>
{% endblock col1 %}

{% block col2 %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "chart/chart.html" with divname='chartdiv' %}
        </div>
    </div>
{% endblock col2 %}

