{% extends "website/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
  <!-- Custom styles for this template -->
  <link href="{% static 'website/signin.css' %}" rel="stylesheet">
  <!-- Specifiq javascript for this template -->
  <script type='text/javascript'>

String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}

function autofill( evt ) {
    var val = $('#id_email').val();
    $('#id_username').val( val );
    var p = val.indexOf('.');
    var o = val.indexOf('@');
    if ( (p>0 && o == -1) ||  (p>0 && p<o) ) {
        $('#id_first_name').val(val.substr(0, p).capitalize());
        var o = val.indexOf('@');
        if ( o > 0 ) {
            $('#id_last_name').val(val.substr(p+1, o-p-1).capitalize());
            //$('#enterprise').val(val.substr( o+1 ));
        } else {
            $('#id_last_name').val(val.substr(p+1).capitalize());
        }
    } else {
        if (o > 0 ) {
            $('#id_first_name').val(val.substr(0, o).capitalize());
            $('#id_last_name').val("");
            //$('#enterprise').val(val.substr(o+1));
        } else {
            $('#id_first_name').val(val.capitalize());
            $('#id_last_name').val("");
        }
    }
}
$(document).ready(function() {
	$('#id_email').bind('change', autofill);
	$('#id_email').bind('keyup', autofill);
});

  </script>
{% endblock head %}

{% block home %}
  <div class="container">
    <div class="row">
      <form action={{ form_action }} method="post" class="form-signin" role="form">
	{% csrf_token %}
	{% bootstrap_form user_form label_class='sr-only' show_help=False %}
	{% buttons %}
	  <button type="submit" class="btn btn-lg btn-primary btn-block">
	    {% trans "Sign up" %}
	  </button>
	{% endbuttons %}
	</form>
    </div>
  </div><!-- /.container -->
{% endblock home %}
