{% extends "signup/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
<!-- Custom styles for this template -->
<link href="{% static 'signup/signin.css' %}" rel="stylesheet">
<script src="{% static 'signup/signup.js' %}"></script>
{% endblock head %}

{% block home %}
<div class="container">
    <div class="row">
    <form action={{ form_action }} method="post" class="form-signin" role="form">
        {% csrf_token %}
        {% bootstrap_form user_form label_class='sr-only' show_help=False %}
        {% buttons %}
        <button type="submit" class="btn btn-lg btn-primary btn-block" name="signup">
            {% trans "Sign up" %}
        </button>
        {% endbuttons %}
        </form>
    </div>
</div><!-- /.container -->
{% endblock home %}
